body {
  background: #ebd2b4;
  color: #0d1b1e;
}

.container {
  margin: 0 15rem;
  text-align: center;
}

header {
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
}

h1 {
  margin-bottom: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

section.players {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.25rem;
}

.players .left,
.players .right {
  border: 2px solid black;
  padding: 0 2rem;
  background: #fffbef;
  border-radius: 1rem;
  display: none;
}

.players p {
  font-size: 1.5rem;
}

.middle {
  font-size: 2rem;
  margin: 0 1rem;
  width: 30rem;
}

.mainboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  position: absolute;
  top: 16rem;
}

.row {
  display: flex;
}

.square {
  width: 3.5rem;
  height: 3.5rem;
  background: #bfaa95;
  padding: 4rem;
  display: block;
  margin: 0.25rem 0.25rem 0 0;
}

.x::after {
  content: "X";
  font-size: 3rem;
}
.o::after {
  content: "O";
  font-size: 3rem;
}

button.restart {
  padding: 0.5rem 2rem;
  color: #fffbef;
  border: 3px solid #fffbef;
  background: #dbc4a2;
  font-size: 1.75rem;
  font-weight: bold;
  border-radius: 0.75rem;
  margin-top: 3rem;
  display: none;
}

.square:hover,
button.restart:hover,
button.submit-choices:hover {
  background: #988b82;
}

.overlay {
  padding: 8rem 11.5rem 13rem;
  width: 40%;
  height: 16rem;
  position: absolute;
  z-index: 10;
  margin-bottom: 1.5rem;
  background: rgba(235, 210, 180, 0.8);
  top: 15rem;
  /* display: none; */
}

.overlay p {
  font-size: 3rem;
}

/* MONSTER MENU */

.monster-choice-overlay {
  z-index: 100;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fffbef;
  border-radius: 1rem;
  margin: 0.5rem 0 1.5rem;
}

.monster-container {
  display: flex;
  border-bottom: 2px solid black;
}

.monster-choice-overlay .player1-choice {
  padding-right: 4rem;
  border-right: 2px solid black;
}

.monster-choice-overlay .player2-choice {
  padding-left: 4rem;
}

.choice-heading {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 2px black solid;
}

.choice-heading .half {
  width: 50%;
}

form input[type="radio"] {
  opacity: 0;
}

/* .image-block {
  display: flex;
  flex-direction: column;
} */

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin: 1.5rem;
}

figure img {
  width: 12rem;
  height: 12rem;
  padding: 1rem;
}

figcaption {
  font-size: 1.25rem;
  text-align: center;
  font-weight: bold;
}

figure:hover {
  background: #e9e6d7;
  border-radius: 1rem;
}

button.submit-choices {
  padding: 0.5rem 2rem;
  color: #fffbef;
  border: 3px solid #fffbef;
  background: #dbc4a2;
  font-size: 1.75rem;
  font-weight: bold;
  border-radius: 0.75rem;
  margin: 1rem 0;
  z-index: 100;
}

.row input[type="radio"]:checked + label figure {
  border: 2px solid black;
  border-radius: 1rem;
  background: #e9e6d7;
}
