body {
  background: #ebd2b4;
  color: #0d1b1e;
}

.container {
  margin: 0 15rem;
  text-align: center;
}

header {
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

section.players {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.5rem;
}

.players .left,
.players .right {
  border: 2px solid black;
  padding: 0 2rem;
  background: #fffbef;
  border-radius: 1rem;
}

.players p {
  font-size: 1.5rem;
}

.middle {
  font-size: 2rem;
  margin: 0 1rem;
  width: 30rem;
}

.mainboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  position: absolute;
  top: 16rem;
}

.row {
  display: flex;
}

.square {
  width: 3.5rem;
  height: 3.5rem;
  background: #bfaa95;
  padding: 4rem;
  display: block;
  margin: 0.25rem 0.25rem 0 0;
}

.x::after {
  content: "X";
  font-size: 3rem;
}
.o::after {
  content: "O";
  font-size: 3rem;
}

button.restart {
  padding: 0.5rem 2rem;
  color: #fffbef;
  border: 3px solid #fffbef;
  background: #dbc4a2;
  font-size: 1.75rem;
  font-weight: bold;
  border-radius: 0.75rem;
  margin-top: 3rem;
}

.square:hover,
button.restart:hover {
  background: #988b82;
}

.overlay {
  padding: 8rem 11.5rem 15rem;
  width: 40%;
  height: 16rem;
  position: relative;
  z-index: 9999;
  margin-bottom: 1.5rem;
  background: rgba(235, 210, 180, 0.8);
  display: none;
}

.overlay p {
  font-size: 3rem;
}
